---
import { Image } from "astro:assets";
import { asHTML, asText } from "@prismicio/helpers";
import { client } from "../prismic.js";
import { Projects } from "./Projects.jsx";

const home = await client.getSingle("home");
const projects = await client.getAllByType("project", {
  orderings: {
    field: "my.project.date",
    direction: "desc",
  },
});
const photo = home.data.photo;
---

<main>
  <div id="about">
    <div>
      <header>
        <h1>{asText(home?.data.title)}</h1>
      </header>
      <article>
        <Fragment set:html={asHTML(home?.data.about)} />
      </article>
      <Image
        src={photo?.url}
        alt={photo?.alt || "Photo of Henry Jenkins"}
        width={photo?.dimensions.width}
        height={photo?.dimensions.height}
        loading="eager"
      />
    </div>
  </div>
  <article>
    <Projects client:idle {projects} />
  </article>
  <aside id="viewer">
    <div></div>
    <!-- Don't ssr Viewer component for now  -->
    <!-- <Viewer {...projects[0].data} /> -->
  </aside>
</main>

<style lang="scss">
  main {
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 2fr 1.5fr;
    align-items: start;
  }

  #about {
    container-type: inline-size;
    grid-column: 1 / -1;

    div {
      display: grid;
      grid-template-columns: 1fr 250px;
      grid-template-rows: auto 1fr;
      gap: 10px; // Add gap between columns

      header {
        grid-row: 1;
        grid-column: 1;
        display: grid;
      }

      article {
        grid-row: 2;
        grid-column: 1;
        text-wrap: pretty;

        * {
          margin-top: 0.2em;
        }
      }

      img {
        grid-row: 1 / -1;
        grid-column: 2;
        width: 250px; // Fixed width instead of 100%
        height: auto;
        object-fit: cover; // Optional: maintains aspect ratio
      }
    }
  }

  #viewer {
    position: sticky;
    top: 10px;
  }

  @container (max-width: 600px) {
    #about {
      div {
        grid-template-columns: 1fr;

        img {
          grid-row: auto;
          grid-column: 1;
          width: 100%;
          max-width: 250px;
        }
      }
    }
  }
</style>
